body{
    background-color: skyblue;
    header{
        display: flex;
        align-items: center;
        section{
            h1{
                font-size: 18px;
                color: red;
            }
        }
    }
    footer{
        width: 100%;
        section{
            span{
                display: flex;
                flex-wrap: wrap;
            }
        }
    }
}


